<div class="ProfileCanopy ProfileCanopy--withNav ProfileCanopy--large">
    <div class="ProfileCanopy-inner">

        <div class="ProfileCanopy-header u-bgUserColor" style="margin-top: 0px;">
            <div class="ProfileCanopy-headerBg">
                <!--<img alt="" data-holder="holder.js/1500x500/" style="transform: none;">-->
                <div style="text-align:center; vertical-align:middle;">
                    <h3 style="color:#BABABA;font-weight: bold;">Huvudbild</h3>
                </div>
           
            </div>


            <div style="height:200px;"></div>
            <div class="AppContainer">

                <div class="ProfileCanopy-avatar">
                    <div class="ProfileAvatar" style="width: 200px; height: 200px; -ms-border-radius: 100px; border-radius: 100px; overflow:hidden;">
                        <div>
                            <img data-holder="holder.js/200x200/text:Profilbild" class="ProfileAvatar-image" alt="Olof Dahlbom" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">

                        </div>
                    </div>

                </div>


            </div>

        </div>


        <div class="ProfileCanopy-navBar">
            <div class="ProfilePage-editingOverlay"></div>

            <div class="AppContainer">
                <div class="row">
                    <div class="col-md-3 col-lg-9">

                    </div>

                    <div class="col-md-3 col-lg-9">
                        <div class="ProfileCanopy-nav">

                            <h2>{{vm.Title}}</h2>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3">

                    </div>

                    <div class="col-md-9 col-lg-9">
                        <div class="ProfileCanopy-nav">
                            <div class="well" style="margin-top:20px;">
                                <h4>Om Dig</h4>
                                <p>
                                    {{vm.Description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3">

                    </div>

                    <div class="col-md-9 col-lg-9">
                        <div class="ProfileCanopy-nav">
                            <div class="well" style="margin-top:20px;">
                                <h4>Bilder</h4>
                                <div id="links" blue-imp-image-gallery>
                                    <a data-gallery="" href="https://farm6.static.flickr.com/5611/15422348120_d8fbddb953_b.jpg" title="Rowing Through Autumn">
                                        <img src="https://farm6.static.flickr.com/5611/15422348120_d8fbddb953_s.jpg">
                                    </a><a data-gallery=""
                                           href="https://farm4.static.flickr.com/3954/15607404752_dc3ed442f2_b.jpg"
                                           title="Typical Lunch Time meal in the Tudor times in Mary Ardens working farm house (Explored)"><img src="https://farm4.static.flickr.com/3954/15607404752_dc3ed442f2_s.jpg"></a><a data-gallery=""
                                                                                                                                                                                                                               href="https://farm4.static.flickr.com/3948/15606911555_495c97a998_b.jpg"
                                                                                                                                                                                                                               title="Mechelen, Grote Markt">
                                        <img src="https://farm4.static.flickr.com/3948/15606911555_495c97a998_s.jpg">
                                    </a><a data-gallery=""
                                           href="https://farm4.static.flickr.com/3947/15420894338_0cfa79f11c_b.jpg"
                                           title="mood from the wood">
                                        <img src="https://farm4.static.flickr.com/3947/15420894338_0cfa79f11c_s.jpg">
                                    </a><a data-gallery=""
                                           href="https://farm4.static.flickr.com/3949/14993149334_ec6a9b6460_b.jpg"
                                           title="Red stag Richmond park EXPLORED">
                                        <img src="https://farm4.static.flickr.com/3949/14993149334_ec6a9b6460_s.jpg">
                                    </a><a data-gallery=""
                                           href="https://farm4.static.flickr.com/3946/15608125901_b9cff08b87_b.jpg"
                                           title="Memorial Floral Tribute For Slain Soldier .... Cpl. Nathan Cirillo .... Hamilton, Ontario"><img src="https://farm4.static.flickr.com/3946/15608125901_b9cff08b87_s.jpg"></a><a data-gallery=""
                                                                                                                                                                                                                                 href="https://farm6.static.flickr.com/5606/15607364771_55c72b141e_b.jpg"
                                                                                                                                                                                                                                 title="October">
                                        <img src="https://farm6.static.flickr.com/5606/15607364771_55c72b141e_s.jpg">
                                    </a><a data-gallery=""
                                           href="https://farm6.static.flickr.com/5614/15586360686_83b01a3ccc_b.jpg"
                                           title="Halloween Pennant">
                                        <img src="https://farm6.static.flickr.com/5614/15586360686_83b01a3ccc_s.jpg">
                                    </a><a data-gallery=""
                                           href="https://farm6.static.flickr.com/5602/14986795083_cdecae07e1_b.jpg"
                                           title="La rebelión">
                                        <img src="https://farm6.static.flickr.com/5602/14986795083_cdecae07e1_s.jpg">
                                    </a><a data-gallery=""
                                           href="https://farm6.static.flickr.com/5614/15423549460_c88ceb732a_b.jpg"
                                           title="Blue Light Special on Lake Temagami">
                                        <img src="https://farm6.static.flickr.com/5614/15423549460_c88ceb732a_s.jpg">
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--<div>

        <span style="display:inline-block; height:400px;">
            <img ng-src="/Content/images/summer.jpg?w=400&h=400&mode=max" angular-crop data-on-change="imageCrop" aspect-ratio="1" bg-color="'white'" bg-opacity="0.1">

        </span>


        <span class="inner-preview circular" style="overflow:hidden; display:inline-block;">
            <img ng-src="/Content/images/summer.jpg?w=400&h=400&mode=max" />
        </span>


    </div>-->
<!--<div class="image-cropper">

        <img src="/Content/images/summer.jpg?w=400&h=400&mode=max" class="image" />

        <div style="margin:50px; width:400px; text-align:center">
            <div class="preview" style="width:400px;height:400px">
            </div>
            <a class="result" href="#">View the result</a><br />
            <input name="img1" type="hidden" id="img1" class="result" />
            <input type="submit" value="Send result to server" />
        </div>

    </div>-->
<!--<script type="text/javascript">




    function linkUp(unusedIndex, container) {
        container = $(container); //We were passed a DOM reference, convert it to a jquery object

        //The code will look for a img.image, a div.preview, a.result, an input.result inside the specified container, and link them together.
        //Only 'img.image' is required, however.


        //Find the original image
        var image = container.find("img.image");

        //Find the original aspect ratio of the image
        //var originalRatio = image.width() / image.height()
        var originalRatio = 1;

        //Defaults to false if a checkbox with class="keepAspectRatio" doesn't exist.

        //jCrop will enforce this ratio:
        var forcedRatio = true;


        //Find the URL of the original image minus the querystring.
        var path = image.attr('src');
        if (path.indexOf('?') > 0) path = path.substr(0, path.indexOf('?'));
        if (path.indexOf(';') > 0) path = path.substr(0, path.indexOf(';')); //For parsing Amazon-cloudfront compatible querystrings

        var cloudFront = image.attr('src').indexOf(';') > -1; //To use CloudFront-friendly URLs.

        //Find the preview div(s) (if they exist) and make sure the have a set height and width.
        var divPreview = container.find("div.preview");

        //What size to make the preview window (defaults to existing width/height if specified in 'style' attribute)
        var previewFallbackWidth = 100;
        var previewFallbackHeight = 100;

        //Allow the div to override the default width and height in the style attribute
        var previewMaxWidth = (divPreview.attr('style') != null && divPreview.attr('style').indexOf('width') > -1) ? divPreview.width() : previewFallbackWidth;
        var previewMaxHeight = (divPreview.attr('style') != null && divPreview.attr('style').indexOf('height') > -1) ? divPreview.height() : previewFallbackHeight;
        //Set the values explicitly.
        divPreview.css({
            width: previewMaxWidth + 'px',
            height: previewMaxHeight + 'px',
            overflow: 'hidden'
        });

        //Create another child div and style it to form a 'clipping rectangle' for the preview div.
        var innerPreview = $('<div />').css({
            overflow: 'hidden'
        }).addClass('innerPreview').addClass('circular').appendTo(divPreview);

        //Create a copy of the image inside the inner preview div(s)
        $('<img />').attr('src', image.attr('src')).appendTo(innerPreview);

        //Find any links (if they exist)
        var links = container.find('a.result');
        //And any input fields (for postbacks, if desired)
        var inputs = container.find('input.result');


        //Create a function to update the link, hidden input, and preview pane
        var update = function (coords) {
            if (parseInt(coords.w) <= 0 || parseInt(coords.h) <= 0) return; //Require valid width and height

            //The aspect ratio of the cropping rectangle. If 'keepRatio', use originalRatio since it's more precise.
            var cropRatio = 1;


            //When the selection aspect ratio changes, the preview clipping area has to also.
            //Calculate the width and height.

            var innerWidth = cropRatio >= (previewMaxWidth / previewMaxHeight) ? previewMaxWidth : previewMaxHeight * cropRatio;
            var innerHeight = cropRatio < (previewMaxWidth / previewMaxHeight) ? previewMaxHeight : previewMaxWidth / cropRatio;


            innerPreview.css({
                width: Math.ceil(innerWidth) + 'px',
                height: Math.ceil(innerHeight) + 'px',
                marginTop: (previewMaxHeight - innerHeight) / 2 + 'px',
                marginLeft: (previewMaxWidth - innerWidth) / 2 + 'px',

            });
            //Set the outer div's padding so it stays centered
            divPreview.css({

            });



            //Calculate how much we are shrinking the image inside the preview window
            var scalex = innerWidth / coords.w;
            var scaley = innerHeight / coords.h;

            //Set the width and height of the image so the right areas appear at the right scale appear.
            innerPreview.find('img').css({
                width: Math.round(scalex * image.width()) + 'px',
                height: Math.round(scaley * image.height()) + 'px',
                marginLeft: '-' + Math.round(scalex * coords.x) + 'px',
                marginTop: '-' + Math.round(scaley * coords.y) + 'px'
            });



            //Calculate the querystring
            var query = '?';

            //Add final size, if specified.
            var inputWidth = container.find('input.width');
            var inputHeight = container.find('input.height');
            if (inputWidth.size() > 0 && parseInt(inputWidth.val()) > 1) query += 'maxwidth=' + inputWidth.val() + '&';
            if (inputHeight.size() > 0 && parseInt(inputHeight.val()) > 1) query += 'maxheight=' + inputHeight.val() + '&';

            //Add crop rectangle
            query += 'crop=(' + coords.x + ',' + coords.y + ',' + coords.x2 + ',' + coords.y2 + ')&cropxunits=' + image.width() + '&cropyunits=' + image.height()
            //Replace ? and & with ; if using Amazon Cloudfront
            if (cloudFront) query = query.replace(/\?\&/g, ';');

            //Now, update the links and input values.
            links.attr('href', path + query);
            inputs.attr('value', path + query);

        }

        //Start up jCrop
        var jcrop_reference = $.Jcrop(image);
        jcrop_reference.setOptions({
            onChange: update,
            onSelect: update,
            aspectRatio: forcedRatio,
            bgColor: 'black',
            bgOpacity: 0.6
        });

        //Call the function to init the preview windows
        update({ x: 0, y: 0, x2: image.width(), y2: image.height(), w: image.width(), h: image.height() });



    }

    // Remember to invoke within jQuery(window).load(...)
    // If you don't, Jcrop may not initialize properly
    $(function () {

        console.log("ss");
        setTimeout(function() {
            $('.image-cropper').each(linkUp);
        }, 500)

    });
    //$(function () { //On DOM ready
    //    //Using the 'each' pattern allows multiple cropping image/link pairs per page.
    //    $('.image-cropper').each(function (unusedIndex, container) {
    //        container = $(container); //We were passed a DOM reference, convert it to a jquery object

    //        //Find the image inside 'container' by class ("image")
    //        var image = container.find("img.image");

    //        //Trim the querystring off the image URL.
    //        var path = image.attr('src'); if (path.indexOf('?') > 0) path = path.substr(0, path.indexOf('?'));

    //        //Define a function to execute when the cropping rectangle changes.
    //        var update = function (coords) {
    //            if (parseInt(coords.w) <= 0 || parseInt(coords.h) <= 0) return; //Require valid width and height

    //            //Build the URL based on the coordiantes. The resizing module will handle everything else.
    //            var url = path + '?crop=(' + coords.x + ',' + coords.y + ',' + coords.x2 + ',' + coords.y2 +
    //            ')&cropxunits=' + image.width() + '&cropyunits=' + image.height()

    //            //Now, update the link 'href' (you could update a hidden field just as easily)
    //            container.find('a.result').attr('href', url);
    //        }

    //        //Start up jCrop on the image, specifying our function be called when the selection rectangle changes,
    //        // and that a 60% black shadow should cover the cropped regions.
    //        image.Jcrop({ onChange: update, onSelect: update, bgColor: 'black', bgOpacity: 0.6 });
    //    });
    //});

</script>-->
